# Ignore Snakemake runtime
.snakemake/

# Ignore common output directories
logs/
results/
resources/

# Ignore any *.log file
*.log

# Ignore any *.cereal file (misalnya: raven.cereal)
*.cereal

# Ignore any *.fasta file
*.fasta
*gb
