# --- SYSTEM SETTINGS ---
threads: 48
email: "nauvalrajwaa@gmail.com"  # Wajib diisi
samples_file: "config/samples.tsv"

# --- OUTPUT PATHS ---
reference_out: "resources/ref_tebu_plastome.fasta"
mito_reference_out: "resources/ref_tebu_mito.fasta"

# --- ASSEMBLY CONTROL ---
# Pilihan: "PLASTOME", "MITO", atau "BOTH"
target_assembly: "PLASTOME" 
# Pilihan: sesuaikan dengan genome size target
target_est_size: "150k" # Estimasi untuk assembler

# --- TARGET ORGANISME (DINAMIS) ---
# Ubah list ini sesuai sampel Anda (Misal ganti ke Oryza sativa untuk padi)
query_taxa:
  primary:
    - "Saccharum officinarum"
    - "Saccharum spontaneum"
  secondary:
    - "Miscanthus"
    - "Sorghum"
    - "Erianthus"
  outgroup:
    - "Zea mays"

# --- PARAMETER PENCARIAN NCBI ---
# Plastome
plastome_search_term: "chloroplast[Title] OR plastid[Title]"
plastome_min_len: 80000
plastome_max_len: 180000

# Mitochondria
mito_search_term: "mitochondrion[Title] OR mitochondrial[Title] OR mitochondria[Title]"
mito_min_len: 150000
mito_max_len: 400000

blacklist_min_size: 200000 # Batas ukuran contig sampah

# --- RESCUE STEP ---
# Set "YES" jika ingin mencoba sirkularisasi otomatis pada hasil linear
run_circularization_rescue: "YES"

# Output References
reference_out: "resources/ref_tebu_plastome.fasta"
reference_gbk: "resources/ref_tebu_plastome.gb"     # <-- Tambahkan ini

mito_reference_out: "resources/ref_tebu_mito.fasta"
mito_reference_gbk: "resources/ref_tebu_mito.gb"    # <-- Tambahkan ini

# --- TOOLS ---
medaka_model: "r10.4.1_e8.2_400bps_sup@v5.2.0"