# --- SYSTEM SETTINGS ---
threads: 48
email: "nauvalrajwaa@gmail.com"  # Wajib diisi
samples_file: "config/samples.tsv"

# --- OUTPUT PATHS ---
reference_out: "resources/ref_tebu_plastome.fasta"
mito_reference_out: "resources/ref_tebu_mito.fasta"

# --- ASSEMBLY CONTROL ---
# Pilihan: "PLASTOME", "MITO", atau "BOTH"
target_assembly: "PLASTOME" 
# Pilihan: sesuaikan dengan genome size target
target_est_size: "150k" # Estimasi untuk assembler

# --- TARGET ORGANISME (DINAMIS) ---
# Ubah list ini sesuai sampel Anda (Misal ganti ke Oryza sativa untuk padi)
query_taxa:
  primary:
    - "Saccharum officinarum"
    - "Saccharum spontaneum"
  secondary:
    - "Miscanthus"
    - "Sorghum"
    - "Erianthus"
  outgroup:
    - "Zea mays"

# --- PARAMETER PENCARIAN NCBI ---
# Plastome
plastome_search_term: "chloroplast[Title] OR plastid[Title]"
plastome_min_len: 100000
plastome_max_len: 250000
plastome_min: 100000      # Range validasi filter
plastome_max: 200000

# Mitochondria
mito_search_term: "mitochondrion[Title] OR mitochondrial[Title]"
mito_min_len: 200000
mito_max_len: 10000000
blacklist_min_size: 200000 # Batas ukuran contig sampah

# --- RESCUE STEP ---
# Set "YES" jika ingin mencoba sirkularisasi otomatis pada hasil linear
run_circularization_rescue: "YES"

# --- TOOLS ---
medaka_model: "r941_min_sup_g507"