# --- SYSTEM SETTINGS ---
threads: 8                 # Jumlah CPU yang digunakan per rule
email: "anda@email.com"    # GANTI DENGAN EMAIL ASLI (Wajib untuk NCBI Entrez)

# --- INPUT/OUTPUT PATHS ---
samples_file: "config/samples.tsv"
reference_out: "resources/ref_tebu_plastome.fasta"      # Output download plastome
mito_reference_out: "resources/ref_tebu_mito.fasta"     # Output download mitokondria

# --- BIOLOGICAL PARAMETERS ---
# Estimasi ukuran Plastome (untuk Flye/Canu)
plastome_est_size: "150k"

# Range ukuran valid Plastome (untuk Smart Filter & Final Judge)
plastome_min: 110000       # 110kb
plastome_max: 180000       # 180kb

# Ukuran minimum contig yang dianggap 'Jumbo' (potensi mitokondria/sampah)
blacklist_min_size: 200000 

# --- MEDAKA MODEL ---
# Sesuaikan dengan basecaller yang Anda gunakan (contoh: r941_min_sup_g507)
medaka_model: "r941_min_sup_g507"
